* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-family: 'IBM Plex Sans', sans-serif;
    color: black;
}

/* styling the header and navigation */
header {
    background-image: linear-gradient(150deg, grey, white);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px 6% 15px 0;
}

header h1 {
    width: 50%;
    font-size: 3vw;
    line-height: 1;
    margin: 0;
    padding: 5px 1% 5px 3%;
    font-weight: bolder;
}

header nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* styling the navigation at the top of the webpage */
nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0%
}

nav ul li a {
    color: black;
    margin-right: 10px;
    padding: 5px 10px;
    font-size: 1rem;
}

nav ul li a:hover {
    color: cadetblue;
}

main {
    max-width: 90%;
    margin: 20px auto 45px auto;
}

/* font-family: 'IBM Plex Sans', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Zilla Slab', serif; */

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    margin: 25px 0;
    padding: 10px 0;
}

.row>h2 {
    flex: 0 0 20%;
    text-align: right;
    border-right: 4px solid black;
    font: 4vw;
    line-height: 1.1;
    padding-right: 15px;
}

.row>div {
    flex: 0 0 77%;
}

/* spacing between paragraph content */
.row p {
    margin-bottom: 20px;
}

/* styling for webpage images  */
#workcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    border: 5px solid black;
    background-color: darkgreen;
    color: black;
    min-height: 150px;
    max-height: 150px;
    display: flex;
    flex-basis: calc(50% - 1em);
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    background-size: 100%;
}

/* making the first image larger than the others */
.project:first-child {
    min-height: 400px;
    flex-basis: 100%;
}

.project:hover {
    background-color: aquamarine;
}

.project div {
    padding: 8px 10px;
    background-color: aliceblue;
    margin-left: 0;
}

/* adding placeholder images for each webpage */
.first-image {
    background-image: url("../Images/Screenshot\ Login.png");
}

.second-image {
    background-image: url("../Images/Ragdoll\ cat.jpeg");
}

.third-image {
    background-image: url("../Images/tuxedo\ cat.jpeg");
}

.fourth-image {
    background-image: url("../Images/Tiger.jpeg");
}

.fifth-image {
    background-image: url("../Images/Elephant.jpeg");
}

.gist {
    max-width: 90%;
}
/* styling contact information */
.contact address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.contact address a {
    color: black;
    padding: 5px;
    font-size: 1.3;
    margin: 0 0.2rem 0.1rem;
    display: inline-block;
}

h4 {
    text-align: center;
    font-size: 2%;
}